/* COLORS */
:root {
  --color-gray: #eee;  
  --color-gray-dark: #ddd;
  --color-yellow: #f1c40f;
  --color-gray-2: #444;
}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', Sans-Serif;
    font-size: 62.5%;
}

body {
    background-color: var(--color-gray);
}

a {
    text-decoration: none;
    color: inherit;
}

/* GRID */
.row-3 {
    width: 68%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    grid-column-gap: 2rem;
}

/* UTILITIES */
.margin-bottom-small {
    margin-bottom: 6%;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.9rem;
    background-color: inherit;
    

    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 100;

}

.header__container-left {
    width: 50%;
}

.header__logo {
    width: 30rem;
    height: 3.5rem;
    margin-left: 5%;
}

.header__container-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.list {
    list-style: none;
    display: flex;
    font-size: 1.7rem;
    width: 82%;
    justify-content: inherit;
    margin-left: 9%;

}

.item-list {
    cursor: pointer;
}

/* FORM */

.form {
    padding-top: 5rem;
}

.form__container {
    text-align: center;
    padding-top: 2rem;
}

.form__title {
    font-size: 2.5rem;
    font-weight: 800;
    padding: 2rem;
}

.form__input {
    width: 20%;
    padding-left: 1rem;
    margin-bottom: 1%;
}

.form__btn {
    width: 10%;
    background-color: var(--color-yellow);
    border: none;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    padding: .8rem;
    border-radius: 2px;
    cursor: pointer;
}

.form__btn:hover {
    background-color: orange;
    transition: 1s;
}


/* BRAND */

.brand {
    padding: 9rem;
    padding-bottom: 2.5rem;
}

.brand__container {
    margin: 0 auto;
    width: 65%;
    height: 10rem;
    display: flex;
    align-items: center;
    margin-bottom: 3.5%;
    
}

.brand__icon {
    width: 15%;
    font-size: 1.7rem;
    color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    
}


.brand__description {   
    width: 85%;
}

.brand__description-h2 {
    font-size: 2.5rem;
    margin-bottom: .75%;
}

.brand__description-p {
    font-size: 1.5rem;
}

/* VIDEO SECTION */

.video {
    padding-bottom: 5rem;
}

.video__youtube {   
    display: flex;
    margin: 0 auto;
}

/* CARDS SECTIONS */

.cards {
    padding: 5rem;
    padding-top: 3rem;
}

.cards__container {
    border: 1px solid black;
    border-radius: 3px;
    height: 31rem;
    display: flex;
    flex-direction: column;
}

.cards__container-upper {   
    width: 100%;
    background-color: var(--color-gray-dark);
    height: 17%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__title {
    text-transform: uppercase;
    font-size: 1.7rem;
 
}

.cards__container-lower {
    text-align: center;
    font-size: 1.8rem;
  
}

.cards__price {
    font-size: 2.6rem;
    padding: 1.8rem;
    padding-bottom: 1.3rem;
}

.cards__paragraph {
    padding: .50rem;
}


.cards__button {
    width: 30%;
    height: 15%;
    border: none;
    background-color: var(--color-yellow);
    color: black;
    text-transform: uppercase;
    font-size: 1.65rem;
    cursor: pointer;
    border-radius: 2px;
}

.cards__button:hover {
    background-color: orange;
    transition: 1s;
}

/* FOOTER */
.footer {
    width: 64.3%;
    height: 8rem;
    background-color: var(--color-gray-dark);
    margin: 0 auto;
    border-radius: 1.5px;

    display: flex;
    justify-content: flex-end;
}

.footer__container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__list {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;

}

.footer__item {
    list-style: none;
    padding: .85rem;
    cursor: pointer;
}

.footer__copy {
    font-size: 1.6rem;
    color: var(--color-gray-2);
}

/* MEDIA QUERIE TABLET */
@media (max-width: 76.8rem) {

    .form__btn {
        width: 20%;
    }

    .row-3 {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
    }

    .cards__button {
        margin-bottom: 4rem;
    }

    .footer {
        justify-content: center;
    }

    .footer__copy {
        width: 30rem;
    }
}